<div class="app">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button ui-sref="home" class="md-raised">Home</md-button>
      <span flex></span>
      <md-button ng-if="!$ctrl.isAuthenticated()" ui-sref="login" class="md-raised">Login</md-button>
      <md-button ng-if="$ctrl.isAuthenticated()" ui-sref="home" ng-click="$ctrl.logout()" class="md-raised">Logout</md-button>
    </div>
  </md-toolbar>

  <md-progress-linear ng-if="$root.isLoading" class="md-warn loading-bar" md-mode="indeterminate"></md-progress-linear>
  <ui-view></ui-view>
</div>
