<md-card>
    <md-list>
        <div layout-gt-sm="row">
            <md-subheader style="background-color: white">Category Items</md-subheader>
            <div ng-show="$ctrl.isLoggedIn()">
                <md-button ui-sref="createItem" style="left: 139px">Add Item</md-button>
            </div>
        </div>
        <md-divider></md-divider>
        <md-list-item
                ui-sref="item({itemId: sport.title, categoryTitle: $ctrl.categoryTitle})"
                ng-repeat="sport in $ctrl.items">
            <div class="md-list-item-text">
                <p2>{{sport.title}}</p2>
            </div>
            <div class="md-secondary-container"></div>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>
</md-card>
