<div ng-cloak>
  <md-content class="md-padding" layout-align="center"layout="row">

      <md-card flex-gt-sm="50" flex-gt-md="30">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Item</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            Description
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="left">
          <md-button ng-hide="$ctrl.isAccessible()" class="md-raised" ng-click="$ctrl.editItem()" >Edit</md-button>
          <md-button ng-hide="$ctrl.isAccessible()" class="md-raised" ng-click="$ctrl.deleteItem()">Delete</md-button>
        </md-card-actions>
      </md-card>
  </md-content>
</div>
