<div class="home" layout="row" layout-align="center">
  <md-card flex-gt-sm="50" flex-gt-md="33">
    <md-card-content>
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="sport in $ctrl.sportsList">

          <div class="md-list-item-text">
            <a href="#">{{sport.title}}</a>
          </div>

          <div class="md-secondary-container">
              <!--<md-button class="md-raised md-primary">Edit</md-button>-->
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>

</div>
