<md-content class="md-padding home" layout-xs="column" layout-align="center"
            layout="row">
    <md-card flex-gt-sm="10" flex-gt-md="30">
        <md-list>
            <md-subheader style="background-color: white">Categories
            </md-subheader>
            <md-divider></md-divider>
            <md-list-item ui-sref="items({categoryTitle: category.name})"
                          ng-repeat="category in $ctrl.categories">
                <div class="md-list-item-text">
                    <p2>{{category.name}}</p2>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-card>
    <div flex-xs flex-gt-xs="10" flex-gt-md="30">
        <ui-view></ui-view>
        <div ng-show="$ctrl.isHome()">
            <md-card>
                <md-list>
                    <div layout="row">
                        <md-subheader flex="70" style="background-color: white">Latest items</md-subheader>
                        <div flex="30" ng-show="$ctrl.isLoggedIn()">
                            <md-button layout="column" class="md-raised" ui-sref="createItem">Add</md-button>
                        </div>
                    </div>
                    <md-divider></md-divider>
                    <md-list-item
                            ng-repeat="item in $ctrl.items"
                            ui-sref="item({itemId: item.title, categoryTitle: item.category})">
                        <div class="md-list-item-text">
                            <p2>{{item.title}}</p2>
                        </div>
                        <div class="md-secondary-container"></div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </md-card>
        </div>
    </div>
</md-content>